html, body{
    text-align: center !important;
    height:100%;
    width:100%;
    margin:0;
    background-color: rgb(22, 16, 67) !important;
    color:rgb(232, 232, 232) !important;
}

#task-title{
    margin-top:20px;
}

#task-list-container{
    display:flex;
    justify-content: center;
}

#task-list{
    padding:0;
    list-style: none;
    width:45%;
    display: flex;
    flex-direction: column;
}

.task-item{
    margin:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(81, 64, 206);
    padding:8px;
    color:white;
    border-radius:10px;
    box-shadow: 4px 5px rgb(33, 111, 163);
    border:solid black;
}

#task-input-container{
    width:50%;
    margin:auto;
}

.checkBox{
    width:20px;
    height:20px;
    margin-right:10px;
    accent-color: rgb(0, 213, 0);
}

@media only screen and (max-width:932px){
    #task-list{
        width:70%;
    }
}

@media only screen and (max-width:700px){
    #task-list{
        width:60%;
    }
}

@media only screen and (max-width:500px){
    #task-list{
        width:75%;
    }
}

@media only screen and (max-width:400px){
    #task-list{
        width:90%;
    }
}